header.header 活动列表
  .header-right
    button(class='btn-style btn btn-4' ng-click='create_activity()' ng-disabled="is_there_any_price_competing") 创建活动

#wrapper.wrapper
  ul.list-style-2
    li(ng-repeat='activity in activities' ng-click='goto_sign_up(activity)' class='{{activity_yellow(activity)}}') {{activity.activity_name}}
