<header>
    创建活动

    <div class="header-left">
        <a href="#/activity_list" class="side-slide-trigger btn-style btn-4" ng-show="is_there_any_activity">返回</a>
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">
    <div class="wrapper-inner">
        <div>
            活动名称：
        <input type="text" class="input-full" ng-model="activity_name" />
        <p style="color: red">{{tip}}</style></p>
        </div>
         <button class="btn btn-2" ng-disabled="!activity_name" ng-click="confirm_create()">创建</button>

    </div>

</div>
