header#register.header {{price_sign_up}}（{{sign_up_quantity}}人）
  .header-left
    a.side-slide-trigger.btn-style.btn-4(href="#/price_list") 返回
  .header-right
    button.btn-style.btn.btn-4(ng-click="end_price_sign_up()" ng-disabled="is_the_price_sign_up_ended") 结束