header.header {{current_price_results}}（{{sign_up_quantity}}人）
    .header-left
        a.side-slide-btn.btn.btn-primary(href="#/price_list") 返回
    .header-right
        a.side-slide-btn.btn.btn-primary(href="#/price_statistics") 统计

ol
    li.list-style(ng-repeat='message in price_messages')
        h4 {{message.person_name}}
            span.li-right ￥{{message.price}}
        span {{message.phone}}

#mymodal.modal.fade.in(style="display: block;" ng-hide="not_from_sign_up")
    .modal-header
        a.close(data-dismiss="modal") &times
    .modal-body
        h4 {{message.person_name}} ￥{{message.price}}
        h4 {{message.phone}}
        h4 竞价成功！
footer
    p(ng-show="after_popup") 竞价结果：{{price_results}}
