header.header 竞价
  .header-left
    a.side-slide-trigger.btn-style.btn-4(href="#/activity_list") 返回
  .header-right
    button.btn-style.btn.btn-4(ng-click="create_price_competition()" ng-disabled="is_there_any_price_competing") 开始

#wrapper.wrapper
  ul.list-style-2
    li(ng-repeat='price in prices' ng-click="go_to_price_sign_up(price)" class="{{price_yellow(price)}}") {{price.price_name}}

footer
  ul.footer-nav.footer-nav-2tabs
    li: a(href="/#/sign_up") 报名
      br
    li.active: a(href="/#/price_list") 竞价
      br