


<header class="header" id="register">
    报名（{{sign_up_quantity}}人）

    <div class="header-left">
    <button class="btn-style btn-4" ng-click="back_to_activity_list()">返回</button>
    </div>
    <div class="header-right">
    <button class="btn-style btn btn-4" ng-click="start_sign_up(start_or_end)"
            ng-disabled="is_there_any_activity_signing_up">
        {{start_or_end}}</button>
    </div>

</header>

<div id="wrapper" class="wrapper">
    <ul class="list-style-2">
    <li ng-repeat='message in messages'>
       {{message.name}}<i>{{message.phone}}</i>
    </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href="/#/sign_up"> <br />报名</a></li>
        <li><br />竞价</li>
    </ul>
</footer>

