

<div>
<header class="header">
    报名（{{sign_up_quantity}}人）

    <div class="header-left">
    <button class="btn-style btn-4" ng-click="back_to_activity_list()">返回</button>
    </div>
    <div class="header-right">
    <button class="btn btn-4" ng-click="start_sign_up()"  ng-disabled="is_there_any_activity_signing_up">
        {{start_or_end}}</button>

    </div>
</header>
</div>


<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href="/#/sign_up"> <br />报名</a></li>
        <li><br />竞价</li>
    </ul>
</footer>

